/* Inline specific styles */
span.wpcustomEnlighterJS {
  border-radius: 3px;
  background-color: #fafafa;
}
/* LIST specific styles */
body ol.wpcustomEnlighterJS,
body ul.wpcustomEnlighterJS,
body .wpcustomEnlighterJSWrapper pre {
  font-size: 14px;
  font-weight: 400;
  color: #939393;
  border-radius: 8px;
  border: 1px solid #81959a80;
  background-color: #f9f9f9;
}
/* line styles */
body ol.wpcustomEnlighterJS li,
body ul.wpcustomEnlighterJS li {
  border: solid 0px #ffffff;
  padding: 1px 5px 1px 14px;
  line-height: 16px;
  color: #aaaaaa;
}
body ol.wpcustomEnlighterJS li {
  list-style: decimal outside;
  border-left: 1px solid #e0e0e0;
  padding: 1px 5px 1px 14px;
}
/* special line highlight color */
body ol.wpcustomEnlighterJS li.specialline,
body ul.wpcustomEnlighterJS li.specialline {
  background-color: #fdf5f0;
}
/* hover effect */
body ol.wpcustomEnlighterJS.hoverEnabled li:hover,
body ul.wpcustomEnlighterJS.hoverEnabled li:hover {
  background-color: #fffcd3;
  border: solid 0px #ffffff;
  color: #444444;
}
body ol.wpcustomEnlighterJS.hoverEnabled li:hover {
  border-left: 1px solid #e0e0e0;
}
/* symbol styles */
/* Tab Panel */
body .wpcustomEnlighterJSTabPane .controls {
  border-radius: 8px 8px 0px 0px;
  background-color: #f9f9f9;
  border: solid 1px #e0e0e0;
  border-bottom-width: 0px;
  padding: 5px;
}
body .wpcustomEnlighterJSTabPane .controls li {
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}
body .wpcustomEnlighterJSTabPane .controls li:hover {
  background-color: transparent;
}
body .wpcustomEnlighterJSTabPane .controls .selected,
body .wpcustomEnlighterJSTabPane .controls .selected:hover {
  background-color: #e5e5e5;
  color: #000000;
  border-color: #c9c9c9;
}
body .wpcustomEnlighterJSTabPane .wpcustomEnlighterJS,
body .wpcustomEnlighterJSTabPane pre {
  border-radius: 0px 0px 8px 8px;
}
body .wpcustomEnlighterJSTabPane .pane {
  padding: 0px;
}
/* Raw Code Pane */
body .wpcustomEnlighterJSWrapper pre {
  background-color: #ffffff;
  font-size: 14px;

  font-weight: 400;
  color: #717171;
}
/* Raw Button */
body .wpcustomEnlighterJSWrapper .EnlighterJSRawButton {
  border-radius: 0px;
  background-color: transparent;
} /* hover color */
body ol.wpcustomEnlighterJS.hoverEnabled li:hover,
body ul.wpcustomEnlighterJS.hoverEnabled li:hover {
  background-color: #f0f0ff;
}

/* special line highlight color */
body ol.wpcustomEnlighterJS li.specialline,
body ul.wpcustomEnlighterJS li.specialline {
  background-color: #f0f0ff;
}

/* base styles */
body ol.wpcustomEnlighterJS,
body ol.wpcustomEnlighterJS li,
body ul.wpcustomEnlighterJS,
body ul.wpcustomEnlighterJS li {
  font-family: roboto;
  font-size: 14px;

  font-weight: 400;
  color: #bec8cb;
  background: #25292a 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

/* default symbol style */
body .wpcustomEnlighterJS span {
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #bec8cb;
}

.wpcustomEnlighterJSRawButton::after {
  content: "Toggle RAW Code";
}
body .wpcustomEnlighterJSWrapper pre {
  padding: 22px;
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #3c4f54;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #bec8cb;
  border-radius: 2px;
  opacity: 1;
}
body ul.wpcustomEnlighterJS {
  padding: 22px;
}

/** for scrolling and its style **/
.EnlighterJSWrapper.wpcustomEnlighterJSWrapper ul,
.EnlighterJSWrapper.wpcustomEnlighterJSWrapper pre {
  overflow: auto;
  max-height: 300px;
}
.EnlighterJSWrapper.wpcustomEnlighterJSWrapper ul::-webkit-scrollbar,
.EnlighterJSWrapper.wpcustomEnlighterJSWrapper pre::-webkit-scrollbar {
  width: 18px;
  height: 6px;
}

.EnlighterJSWrapper.wpcustomEnlighterJSWrapper ul::-webkit-scrollbar-thumb,
.EnlighterJSWrapper.wpcustomEnlighterJSWrapper pre::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border: 10px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/*** for alignment of hover button **/

body .EnlighterJSWrapper:hover .EnlighterJSToolbar {
  display: flex;
}
body .EnlighterJSToolbar {
  right: 22px;
}
body .EnlighterJSToolbar>a {
  float: right;
  display: block;
  border-radius: 3px;
  z-index: 10;
  background-color: transparent;
  color: #717171;
  cursor: pointer;
  font-size: 12px;
  padding: 0;
  border: none;
  margin: 0 0 0 8px;
  text-decoration: none;
  width: 30px;
  height: 28px;
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  font-family: inherit;
}
/** for image for hover buttons **/
body .EnlighterJSRawButton {
  background: url("./../images/Pages/PNG/toggle-dark.png");
}
body .EnlighterJSRawButton.clicked {
  background: url("./../images/Pages/PNG/toggle-light.png");
  background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
body .EnlighterJSToolbar>a.EnlighterJSWindowButton{
  background: url("./../images/Pages/PNG/open-code-dark.png");
  background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
body .EnlighterJSToolbar>a.EnlighterJSWindowButton.clicked {
  background: url("./../images/Pages/PNG/open-code-light.png");
  background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

body .EnlighterJSToolbar>a.copyCodeBlock {
  background: url("./../images/Pages/PNG/copy-dark.png");
  background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
body .EnlighterJSToolbar>a.copyCodeBlock.clicked {
  background: url("./../images/Pages/PNG/copy-light.png");
  background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

/** code block tooltip code **/

.EnlighterJSToolbar a {
  position: relative;
}
.EnlighterJSToolbar a:hover:after {
   visibility: visible;
  content: attr(data-title);
  width: fit-content;
  white-space: nowrap;
  position: absolute;
  top: 125%;
  right: 0;
  background: #bec8cb 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000099;
  border-radius: 4px;
  padding: 0.6em;
  opacity: 1;
  font-weight: 500;
  font-family: roboto;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  color: #25292a;
  opacity: 1;
}


/** theme colors **/
/* Symbol styles  - these colors are choosed from englighter default theme */
.wpcustomEnlighterJS .de1 {
  color: #cf6a4c;
}
.wpcustomEnlighterJS .de2 {
  color: #cf6a4c;
}
.wpcustomEnlighterJS .kw1 {
  color: #286491;
}
.wpcustomEnlighterJS .kw2 {
  color: #4da0d2;
}
.wpcustomEnlighterJS .kw3 {
  color: #458;
}
.wpcustomEnlighterJS .kw4 {
  color: #990073;
}
.wpcustomEnlighterJS .co1 {
  color: #99a;
}
.wpcustomEnlighterJS .co2 {
  color: #99a;
}
.wpcustomEnlighterJS .st0 {
  color: #d14;
}
.wpcustomEnlighterJS .st1 {
  color: #d14;
}
.wpcustomEnlighterJS .st2 {
  color: #d14;
}
.wpcustomEnlighterJS .nu0 {
  color: #099;
}
.wpcustomEnlighterJS .me0 {
  color: #0086b3;
}
.wpcustomEnlighterJS .me1 {
  color: #0086b3;
}
.wpcustomEnlighterJS .br0 {
  color: #777;
}
.wpcustomEnlighterJS .sy0 {
  color: #777;
}
.wpcustomEnlighterJS .es0 {
  color: #777;
}
.wpcustomEnlighterJS .re0 {
  color: #009926;
}

@media screen and (min-width: 1600px){
	body ol.wpcustomEnlighterJS,
	body ul.wpcustomEnlighterJS,
	body .wpcustomEnlighterJSWrapper pre,
	body .wpcustomEnlighterJSTabPane .controls li,
	body ol.wpcustomEnlighterJS li,
	body ul.wpcustomEnlighterJS li,
	body .wpcustomEnlighterJS span{
		font-size: 16px;
	}
}